@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Bold.woff2') format('woff2'),
        url('fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Medium.woff2') format('woff2'),
        url('fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces';
    src: url('fonts/Fraunces-Bold.woff2') format('woff2'),
        url('fonts/Fraunces-Bold.ttf') format('truetype');
    font-weight: bold;
    font-display: swap;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: hsl(30, 38%, 92%);
  padding: 4vh 4vw;
  margin: 0;
}

section {
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: .5rem .5rem 0 0;
}

.text {
  background: hsl(0, 0%, 100%);
  padding-left: 7%;
  padding-right: 7%;
  border-radius: 0 0 .5rem .5rem;
}

.leading {
  color: hsl(228, 12%, 48%);
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: .73rem;
  letter-spacing: .3rem;
  margin-top: 8%;
  margin-bottom: 0;
}

.name {
  color: hsl(212, 21%, 14%);
  font-family: 'Fraunces';
  font-weight: bold;
  font-size: 1.6rem;
  margin-top: 5%;
  margin-bottom: 0;
  line-height: 2rem;
}

.description {
  color: hsl(228, 12%, 48%);
  font-size: .88rem;
  font-family: 'Montserrat';
  font-weight: 500;
  margin-top: 5%;
  line-height: 1.5;
  margin-bottom: 0;
}

.prices {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.price_low {
  color: hsl(158, 36%, 37%);
  font-family: 'Fraunces';
  font-weight: bold;
  font-size: 1.6rem;
}

.price_high {
  color: hsl(228, 12%, 48%);
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: .73rem;
  margin-right: 100%;
}

.cart {
  color: hsl(0, 0%, 100%);
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: .88rem;
  text-align: center;
  border-radius: .5rem .5rem .5rem .5rem;
  margin-top: 0;
  margin-bottom: 7%;
  padding: 1rem 0 1rem 5%;
  background:
    url(./images/icon-cart.svg)
    calc(50% - 7ch)
    no-repeat
    content-box
    border-box
    hsl(158, 36%, 37%);
}

.cart:hover {
  background-color: hsl(158, 46%, 17%);
} 

.attribution {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: .73rem;
  text-align: center;
}

.attribution p {
  margin: 1rem 0 0;
}

.attribution a {
  color: #C2554F;
  text-decoration: none;
}

@media screen and (min-width: 740px) {

  body {
    padding: 22vh 29vw;
  }

  section {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }

  img {
    border-radius: .5rem 0 0 .5rem;
    height: 100%;
    object-fit: cover;
  }

  .text {
    border-radius: 0 .5rem .5rem 0;
    padding: 10%;
  }

  .leading {
    margin: 0;
  }

  .name {
    margin-top: 8%;
    margin-bottom: 0;
  }

  .description {
    margin-top: 10%;
    margin-bottom: 0;
  }

  .prices {
    flex-wrap: wrap;
    margin: 13% 0 0;
  }

  .prices p {
    margin: 0;
  }

  .cart {
    margin: 11% 0 0;
    padding-left: 5%;
  }

  .attribution {
    display: block;
    margin: 1rem 0 0;
  }

  .attribution p {
    display: inline;
  }
}

@media screen and (min-width: 740px) and (max-width: 1000px) {

  .cart {
    background: hsl(158, 36%, 37%);
    padding-left: 0;
  }

  .prices {
    gap: .4rem;
  }

  .attribution p {
    display: block;
  }

  .name {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

@media screen and (min-width: 1338px) {
  .name {
    font-size: 2rem;
  }
}

